# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Django
*.log
db.sqlite3
.env

# IDE
.vscode/
.idea/

# API keys a secrets
*.json
graph.json
fstar.json
bstar.json
.env